*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

body{
    background-color: #001233;
    color: #CAC0B3;
}

.header-logo{
   
    width: 150px;
    height: 150px;
}

.header-container{
    
    padding: 15px;
    margin: 10px 10%;
    height: 100vh;
    background-attachment: fixed;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav ul li {
    display: inline-block;
    margin: 8px 15px;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: #CAC0B3;
    font-size: 18px;
    position:relative;
}

nav ul li a::after{
    content: '';
    width: 0%;
    background:#FF595A;
    position: absolute;
    height: 3px; 
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;

}

.header-text {
    margin-top: 50px;
    font-size: 30px;
}

.header-text h1{
    margin-top: 30px;
    font-size: 60px;
}

.header-text h1 span{
    color: #FF595A;
}

#about-section{
    margin: 10px 10%;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
    

}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
    font-size: 18px;
}

.sub-title{
    color: #FF595A;
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0px;
}
.tab-titles{
    display: flex;
    margin: 10px 0;

}
.tab-links{
    position: relative;
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.tab-links::after{
    content: '';
    width: 0;
    background:#FF595A;
    height: 3px;
    left: 0;
    bottom: -8px;
    position: absolute;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
    font-size: 18px;
}

.tab-contents ul li span{
    color: bisque;
    font-size: 14px;
    margin-bottom: 12px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

#services{
    margin: 30px 10%;
    color: #CAC0B3;
}
.services-title{
    color: #FF595A;
    font-weight:bold ;
    font-size: 30px;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 30px;
}

.services-list div{
    background-color: #CAC0B3;
    padding: 40px;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 300;
    color: #001233;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 15px;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
}

.services-list div a{
    text-decoration: none;
    color: #CAC0B3;
    font-size: 12px;
    margin-top: 12px;
    display: inline-block;

}

.services-list div:hover{
    background-color:#FF595A;
    color: #001233;
    transform: translateY(-10px);
}

.tech-stack{
    
    margin: 15px;

}

.tech-stack img{
    padding: 5px;
    margin: 5px;
    width: 75px;
    height: 100px;
    border: 2px black solid;
    border-radius: 10px;
    background-color: #ababab;
   
}


#my-work{
    margin: 30px 10%;
 

}
.work-title{
    color: #FF595A;
    font-weight:bold ;
    padding-top: 20px;
    font-size: 30px;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 30px;
}

.work{
    width: 100%;
    padding: 40px;
    border-radius: 10px;
    background-color: #CAC0B3;
    color: #001233;
}

.work img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    display: block;
}

.work-text{
    margin:10px;

}

.work{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.work-col-1{
    flex-basis: 35%;

}

.work-col-1 img{
    width: 100%;
    transition: 0.5s;
}

.work-col-2{
    flex-basis: 60%;
    font-size: 18px;
}

.work-col-1 img:hover{
    transform: scale(1.1);
}

.work-link{
    text-align: center;
    color: #CAC0B3;
    padding: 20px;
}

.work-link i{
    color: #CAC0B3;
    transition: 0.5s;
}

.work-link i:hover{
    transform: translateY(-5px);

}
.work-code a {
    text-decoration: none;
    color: #CAC0B3;
}

.work-code a:hover{
    cursor: pointer;
    color: #001233;
}
button{
    margin: 30px 10px;
    padding: 10px 30px;
    border: 1px solid #CAC0B3;
    border-radius: 15px;
    background-color:#001233;
    color: #CAC0B3;
    font-size: 15px;
    transition: 0.5s;
}

button:hover{
    cursor: pointer;
    background-color:#FF595A;
    color: #001233;
    border: none;
}

#contact{
    margin: 30px 10%;
}

.contact-left{
    flex-basis: 35%;
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    font-size: 20px;
    color: #CAC0B3;
    margin-left: 25px;
    margin-right: 25px;
}

.contact-right{
    flex-basis: 60%;
}

.social-profiles{
    margin-top: 30px;
    margin-left: 25px;
}

.social-profiles a {
   margin-right: 15px;
    font-size: 30px;
    color:#ababab;
    display: inline-block;
    transition: 0.5s;
}

.social-profiles a:hover{
    transform: translateY(-5px);
    color: #CAC0B3;
}

.download-cv{
    display: inline-block;
    background-color: #FF595A;
}

.download-cv a{
    text-decoration: none;
    color: #001233;
}
.download-cv a:hover{
    color: #001233;
}

.contact-right form{
    width: 100%;
    
}

.contact-right form input, form textarea{
    width: 100%;
    margin: 15px;
    padding: 15px;
    background-color: #CAC0B3;
    color: #001233; 
    outline: none;
    border-radius: 5px;
    border: none;
}

.contact-right button{
    margin: 10px;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px;
    background-color:#001233;
    font-size: 15px;
    font-weight: 300;
    color: #CAC0B3 ;
}

.copyright i {
    color: #FF595A;
}

nav .fas{
    display: none;
}

#msg{
    color: #CAC0B3;
    padding: 20px;
    display: block;
}

/*---------------------------------------------------------------------------------------*/
/*---------------------------------CSS for Small Screen----------------------------------*/
/*---------------------------------------------------------------------------------------*/

@media only screen and (max-width: 600px) {

    .header-text{
        font-size: 18px;
        padding: 0;
    }   

    .header-text h1{
        font-size: 30px;
    }

    nav .fas{
        display: block;
        font-size: 25px;
    }

    nav ul{
        background:#CAC0B3;
        color:#001233 ;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        z-index: 2;
        padding-top: 50px;
        transition: right 0.5s;
    }

    nav ul li{
        display: block;
        padding: 10px;
        font-size: 25px;
    }

    nav ul li a{
        color:#001233 ;
    }

    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
    } 
   
    .header-text button{
        display: block;
    }

    .sub-title{
        font-size: 30px;
    }

    .about-col-1 img{
       
        margin-top: 50px;
        width: 100%;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }

    .about-col-1{
        margin-bottom: 10px;
    }

 

    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px ;
    }
    .tab-contents{
        margin-top:15px;
    }

    .tab-contents ul li{
        font-size: 14px;
    }
    .work-col-1,.work-col-2{
        flex-basis: 100%;
    }
    .work-col-1{
        margin-bottom: 25px;
    }
    .work-code{
        margin: 10px;

    }

    
    .contact-left,.contact-right{
        flex-basis: 100%;
    }

}